<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/app.css" />
</head>
<body>
        <div style="display: none;">
            <li id="version-item"><a class="version" href="#"></a></li>
        </div>
        <div id="version-list">
            <ul id="drop1" class="large f-dropdown list" data-dropdown-content aria-hidden="true" tabindex="-1">
            </ul>
        </div>
        <div class="row">
                <div class="large-4 column">
                   <img src="http://flask.pocoo.org/static/logo.png" height="200" width="200" alt="Flask logo"> Example App
                </div>
                <div class="large-1 column"></div>
        </div>
        <div class="row">
            <div class="large-6 column">
                <img src="img/ship.jpg">
            </div>
            <div class="large-6 column">
                <img src="/canny">
            </div>
        </div>
        <div class="row">
            <div class="large-12 column">
                &nbsp;
            </div>
        </div>

        <script src="js/vendor/underscore-min.js"></script>

</body>
</html>

